/* header style start */

.header{
    position: relative;
    background: url(../img/png/logo_Background.png) no-repeat top center;
    max-width: 1440px;
    height: 230px;
    margin: 0 auto;
    z-index: 6;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.header__list {
    display: flex;
    flex-wrap: nowrap;
}

.header__item {
    margin-right: 22px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

/* header style end */